*.ini
*.html
*.log
*.bgn
*.ibs
*.ior
*.arearep
*.jed
*.mrp
*.mt
*.ncd
*.ngd
*.p2t
*.p3t
*.pad
*.par
*.pt
*.t2b
*.tw1
*.twr
*.synproj
*.asd
*.cam
*.hrr
*.vdb
*.asd
*.xml
*.lsedata
*.lpf
*.prf
*.drc
*.bit
*.alt
*.ccl
topcount_prim.v
.build_status
impl1/.vdbs/
impl1/*.sdc

