// Definitions for Jos van Eijndhoven's DAC "jedac5"
// intended to be attached to a Raspberry Pi
// January 2016
//
// For info on dts files see:
// https://www.raspberrypi.com/documentation/computers/configuration.html#device-trees-overlays-and-parameters

/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2710";


	fragment@0 {
		target = <&i2s>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			jedac_core: jedac5_codec@10 {
				#sound-dai-cells = <0>;
				// property causes subnode as one of dai_link->num_codecs
				// and inclusion in the dai_link->codecs array.
				compatible = "jve,jedac5_codec";
				reg = <0x10>; // Is address of onboard cs8416
				status = "okay";
			};

			jedac_dacl: dacL@4d {
				//#sound-dai-cells = <0>; // register as aux_dev??
				compatible = "ti,pcm1792a";
				reg = <0x4d>; // left audio channel
				status = "okay";
			};

			jedac_dacr: dacR@4c {
				//#sound-dai-cells = <0>; // register as aux_dev??
				compatible = "ti,pcm1792a";
				reg = <0x4c>; // right audio channel
				status = "okay";
			};
		};
	};
	
	fragment@2 {
    target = <&gpio>;
    __overlay__ {
      jedac_pins: jedac_pins {
        brcm,pins = <27>;     /* BCM GPIO number */
        brcm,function = <0>;  /* 0:in, 1:out, 2:alt5, etc. */
        brcm,pull = <2>;      /* 0:none, 1:down, 2:up */
      };
    };
  };

	fragment@3 {
		target = <&sound>;
		__overlay__ {
			compatible = "jve,jedac5_bcm";
			i2s-controller = <&i2s>;
			jve,dac_core = <&jedac_core>;
			jve,dac_l = <&jedac_dacl>;
			jve,dac_r = <&jedac_dacr>;
			pinctrl-names = "default";
      pinctrl-0 = <&jedac_pins>;
			status = "okay";

      // define 'uisync' as name to find in the driver
      // mode 22 = GPIO_OPEN_DRAIN | GPIO_PULL_UP
			uisync-gpios = <&gpio 27 22>;
		};
	};



};
