// Definitions for Jos van Eijndhoven's DAC "jedac"
// intended to be attached to a Raspberry Pi
// January 2016
//
// For info on dts files see:
// https://www.raspberrypi.com/documentation/computers/configuration.html#device-trees-overlays-and-parameters

/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2710";


	fragment@0 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			jedac_core: jedac_codec@10 {
				// property causes subnode as one of dai_link->num_codecs
				// and inclusion in the dai_link->codecs array.
				compatible = "jve,jedac_codec";
				reg = <0x10>; // Is address of onboard fpga
				status = "okay";
			};

			jedac_dacl: pcm1792a@4d {
				compatible = "jve,pcm1792a";  // my own i2c device
				reg = <0x4d>; // left audio channel
				status = "okay";
			};

			jedac_dacr: pcm1792a@4c {
				compatible = "jve,pcm1792a";  // my own i2c device
				reg = <0x4c>; // right audio channel
				status = "okay";
			};
		};
	};
	
	fragment@1 {
    target = <&gpio>;
    __overlay__ {
      jedac_pins: jedac_pins {
        brcm,pins = <27>;     /* BCM GPIO number */
        brcm,function = <0>;  /* 0:in, 1:out, 2:alt5, etc. */
        brcm,pull = <2>;      /* 0:none, 1:down, 2:up */
      };
    };
  };

	fragment@2 {
		target = <&sound>;
		__overlay__ {
			compatible = "jve,jedac_bcm";
			status = "okay";

			jve,dac_l = <&jedac_dacl>;
			jve,dac_r = <&jedac_dacr>;

			pinctrl-names = "default";
      pinctrl-0 = <&jedac_pins>;
      // define 'uisync' as name to find in the driver
      // mode 22 = GPIO_OPEN_DRAIN | GPIO_PULL_UP
			uisync-gpios = <&gpio 27 22>;

      simple-audio-card,cpu {
        sound-dai = <&i2s>;
      };

      simple-audio-card,codec {
        sound-dai = <&jedac_core>;
      };
		};
	};

	/* Explicitly enable I2S in a separate way that doesn't overlap the sound card */
  fragment@3 {
    target = <&i2s>;
    __overlay__ {
        status = "okay";
    };
  };
};
